body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;

}


.signup-form {
	width: 350px;
	margin: 0 auto;
	padding: 30px 0;
}
.signup-form h2 {
	color: #636363;
	margin: 0 0 15px;
	text-align: center;
}
.signup-form .lead {
	font-size: 14px;
	margin-bottom: 30px;
	text-align: center;
}
.signup-form form {		
	border-radius: 1px;
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid #f3f3f3;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form label {
	font-weight: normal;
	font-size: 13px;
}
.signup-form .form-control {
	min-height: 38px;
	box-shadow: none !important;
	border-width: 0 0 1px 0;
}	
.signup-form .input-group-addon {
	max-width: 42px;
	text-align: center;
	background: none;
	border-bottom: 1px solid #e1e1e1;
	padding-left: 5px;
}
.signup-form .btn, .signup-form .btn:active {        
	font-size: 16px;
	font-weight: bold;
	background: #19aa8d !important;
	border-radius: 3px;
	border: none;
	min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
	background: #179b81 !important;
}
.signup-form a {
	color: #19aa8d;
	text-decoration: none;
}	
.signup-form a:hover {
	text-decoration: underline;
}

.signup-form .fa {
	font-size: 21px;
	position: relative;
	top: 8px;
}

.signup-form .fa-paper-plane {
	font-size: 17px;
}

.signup-form .fa-check {
	color: #fff;
	left: 9px;
	top: 18px;
	font-size: 7px;
	position: absolute;
}

.comment-action {
  padding-left: 20px;
  cursor: 'auto';
}

[class*='-col-rtl'] .comment-action {
  padding-right: 8px;
  padding-left: 0;
}

.background{
	background: #f7f6f3
}

.site-layout-sub-header-background{
	background: #fff;
}

.centralize{
  margin: auto;
  width: 50%;
  padding-left: 45%;
  margin-top: 10%;
}

.content-centralize{
  margin: auto;
  width: 50%;
  margin-top: 10%;
}

.ant-tree .ant-tree-treenode{
	padding: 0 0 20px 0 !important;
}

.cardTitle{
	z-index: 1;
	line-height: 1.25;
	/* margin-top: 1em; */
	margin-bottom: 0.5em;
	background: #f0f2f5;
	transition: background 100ms ease-in-out 0s;
	color: rgb(17, 19, 25);
	-webkit-text-fill-color: rgb(155, 166, 178);
	font-size: 2.25em;
	font-weight: 500;
	outline: none;
	border: 0px;
	padding: 0px;
	resize: none;	
}

.cardBody{
	z-index: 1;
	line-height: 1.25;
	background: #f0f2f5;
	transition: background 100ms ease-in-out 0s;
	color: rgb(17, 19, 25);
	-webkit-text-fill-color: rgb(55, 60, 65);
	font-size: 1.25em;
	font-weight: 150;
	outline: none;
	border: 0px;
	padding: 0px;
	margin-left: -8px!important;
	resize: none;	
}


.cardStatus{
	margin: -12px 0px 2px 0px;
	font-size: 14px;
	color: rgb(155, 166, 178);
    font-size: 13px;
    white-space: nowrap;
	overflow: hidden;
	display: flex;
    flex: initial;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    min-height: 0px;
    min-width: 0px;
}

.ant-select-multiple .ant-select-selection-placeholder{
	left: 0px !important;
	-webkit-text-fill-color: rgb(55, 60, 65);
	font-size: 1.0em;
	font-weight: 500;
	cursor: pointer;
}
.editorStyle{
	border: none !important;
    margin: 0px !important;
    padding: 0px !important;
    display: block !important;
    position: fixed !important; 
	height: 1px !important; 
	max-width: 600px !important;
	margin-bottom: 00px;
}

.actionButton{
	font-size: 16px;
	padding-right: 2px;
	color: grey;
	cursor: pointer;
}

.kxZzJx p {
	background: rgb(240 242 245 / 1);
}

.block-menu-trigger{
	display: none!important;
}